# Ignore Python virtual environments
SHL/
.env/
venv/
__pycache__/
*.pyc

# Ignore ZenML/MLflow logs
mlruns/
.local_stores/
.cache/

# Ignore VS Code & OS files
.vscode/
.DS_Store

# Ignore nested Git repo
Sleep_health_and_lifestyle/
